body{
	 background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	margin: 0;
}

.is{
	height: 325px;
	width: 270px;
	float: right;
	background: white;
	opacity: 0.65;
	margin-left: 538px;
	margin-top: -525px;
	position: absolute;
	border: 1px solid pink;
}
.tebal{
	position: absolute;
	border: 1px solid pink;
	margin-top: 300px;
	right: 570px;
	padding: 10px 20px;
	color: pink;
	opacity: 0.75;
}
#tebals{
	position: absolute;
	border: 1px solid pink;
	margin-top: 350px;
	right: 570px;
	padding: 10px 20px;
	color: pink;
	opacity: 0.75;
}
.tebalss{
	position: absolute;
	border: 1px solid pink;
	margin-top: 410px;
	right: 570px;
	padding: 10px 88px;
	color: pink;
	opacity: 0.75;
	background: salmon;
	cursor: pointer;
}

.tebalss:hover{
	
	color: white;
	background-color: #f569f0;
	border: none;
}