body{
    background-image: url(a.jpeg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.is{
	height: 450px;
	width: 380px;
	float: right;
	background: white;
	opacity: 0.65;
	margin-left: 485px;
	margin-top: -590px;
	position: absolute;
	border: 1px solid pink;
	
}

.ok{
	background-color: white;
	position: absolute;
	right: 670px;
	top: 250px;
	padding: 10px 95px;
	opacity: 0.75;
	margin-right: -180px;
}

.ok3{
	background-color: white;
	position: absolute;
	margin-right: 200px;
	top: 300px;
	padding: 10px 94px;
	right: 290px;
	opacity: 0.75;
}
.ok4{
	background-color: white;
	position: absolute;
	margin-right: 200px;
	top: 350px;
	padding: 10px 94px;
	right: 290px;
	opacity: 0.75;

}
.ii{
	padding: 10px 120px;
	border:none;
	background-color: salmon;
    color:pink;
    position: absolute;
    right: 492px;
    top: 430px;
    cursor: pointer;
}

.ii:hover{
	color: white;
	background-color:  #f569f0;
	border: none;
}
