body{
    background-image: url(a.jpeg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
}
	*{
		margin: 0;
		padding: 0;
	}
	.utama{
		width: 30%;
		background-color: #f6f6f6;
		text-align: center;
		margin:  100px auto;
		padding: 30px 0;
	}
	.is p{
		margin-bottom: 20px;
	}
	form{
		display: block;
	}
	input{
		border: none;
		padding: 8px 10px;
		margin-bottom: 20px;
	}

